apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec:
      containers:
      - name: app
        image: usamagulzar782/my-devops-app
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: devops-service
spec:
  type: NodePort
  selector:
    app: devops
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30007
